/.metadata/
Study_2020/src/miss_Q/test.java
Study_2020/src/miss_Q/N1463.java
.idea/Baekjun_Java.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Study_2020_python/Dynamic Programming/toss_test_3.py
Study_2020_python/toss_test_1.py
Study_2020_python/toss_test_2.py
