/.metadata/
Study_2020/src/miss_Q/test.java
Study_2020/src/miss_Q/N1463.java
.idea/Baekjun_Java.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Study_2020_python/CodingTest/toss_test_3.py
Study_2020_python/CodingTest/toss_test_1.py
Study_2020_python/CodingTest/toss_test_2.py
Study_2020_python/CodingTest/toss_winter_test.py
Study_2020_python/CodingTest/P_level2.py
Study_2020_python/Pythonbook/Greedy2.py
